html,body {
	height: 100%;
}

body {
	background-color: #404040;
	color: #525252;
	font-family: monospace;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	transition: color 400ms, background-color 400ms;
}

a {
	color: inherit;
	text-decoration: none;
}